<h2>Calculator</h2>
<form method="post" action="/calculate/calculator">
  <input type="number" name="left" value="0" required>
  
  <input type="number" name="right" value="0" step="any" required>
  <button name="mathChoice" value="add">+</button>
  <button name="mathChoice" value="subtract">-</button>
  <button name="mathChoice" value="multiply">*</button>
  <button name="mathChoice" value="divide">/</button>
  <button name="mathChoice" value="modulo">%</button>
  <button name="mathChoice" value="exponent">^</button>
</form> 
